.content-text div>p, .content-text>p, .content-text h4 { margin:15px 0 15px 0; line-height:150%; }
.content-text { padding-right:10px; }

.section-title+.content-text { display:none; }
.section-title h3 { color:white; padding:10px 0 10px 10px; background-color:#9c181b; /*#c97436;*/ font-weight:normal; background-image:url(/static/img/frame2.png); background-position:right; background-repeat:no-repeat; }
.section-title h3:hover { color:yellow; }
.section-title { padding:10px 0 10px 0; }
.section-title>div { border-left:3px solid yellow; }

#sidebar { text-align:center; float:left; display:inline; width:300px; /*background-color:#9c181b;*/ //margin-right:10px; padding:10px; font-size:25px; }

#sidebar a:hover { color:yellow; }
#sidebar a { color:white; }
#sidebar .selected a { color:yellow; }
#sidebar li {
    width:100%; height:60px; margin-bottom:2px;
    background: #9c181b; /* Old browsers */
    background: -moz-linear-gradient(top,  #9c181b 0%, #b21b1f 50%, #b21b1f 51%, #9c181b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9c181b), color-stop(50%,#b21b1f), color-stop(51%,#b21b1f), color-stop(100%,#9c181b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #9c181b 0%,#b21b1f 50%,#b21b1f 51%,#9c181b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #9c181b 0%,#b21b1f 50%,#b21b1f 51%,#9c181b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #9c181b 0%,#b21b1f 50%,#b21b1f 51%,#9c181b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #9c181b 0%,#b21b1f 50%,#b21b1f 51%,#9c181b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b21b1f', endColorstr='#9c181b',GradientType=0 ); /* IE6-9 */
}

#sidebar li:hover {
    background: #b21b1f;
    background: -moz-linear-gradient(top,  #9c181b 0%, #c71e22 50%, #c71e22 51%, #9c181b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9c181b), color-stop(50%,#c71e22), color-stop(51%,#c71e22), color-stop(100%,#9c181b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #9c181b 0%,#c71e22 50%,#c71e22 51%,#9c181b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #9c181b 0%,#c71e22 50%,#c71e22 51%,#9c181b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #9c181b 0%,#c71e22 50%,#c71e22 51%,#9c181b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #9c181b 0%,#c71e22 50%,#c71e22 51%,#9c181b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c71e22', endColorstr='#9c181b',GradientType=0 ); /* IE6-9 */
}

#sidebar h3 { height:40px; }

div.sidebar-title-wrapper1 { background-image:url(/static/img/ycwh/heritage-title-frame-l60.png); background-position:left; background-repeat:no-repeat; }
div.sidebar-title-wrapper2 { padding:9px 0; height:40px; border:1px solid yellow; background-image:url(/static/img/ycwh/heritage-title-frame60.png); background-position:right; background-repeat:no-repeat; }
div.sidebar-title { width:240px; height:40px; margin: 0 auto; }

#heritage-title { position:relative; padding:10px 0 10px 20px; background-color:#9c181b; border-top:1px solid #9c181b; border-left:1px solid #9c181b; color:yellow; font-size:40px; font-weight:normal; }

#heritage-intro { }
 
#heritage-title p { font-size:17px; }
#heritage-title h2 { display:block; }
#heritage-title p { position:absolute; bottom:15px; left:200px; display:inline; }
#heritage-title img { float:right; height:85px; width:85px; padding:5px; background-color:white; margin-right:10px; }

#content-main { overflow:auto; float:right; display:inline; width:750px; }

#image-area { position:relative; padding:20px; text-align:center; width:700px; height: 700px;/*background-image:url(/static/libs/lightbox/images/loading.gif); background-repeat:no-repeat;*/ }
#image-area img { background-color:white; padding:2px; position:absolute; left:0; top:0; width:160px; height:160px; border:1px solid #9c181b; z-index:1; -webkit-transition:-webkit-transform .4s ease-in-out; -moz-transition:-moz-transform .4s ease-in-out; }
#image-area img:hover { -webkit-transform:scale(1.1); -moz-transform: scale(1.1); }

#video-panel { text-align:center; padding:20px 0; }
#video-left-panel { float:left; width:480px; }

#video-list { padding:10px; float:right; width:220px; height:450px; background-color:#9c181b; margin-right:10px; text-align:center; }
#video-list span { display:table; height:50px; width:100%; }
#video-list span:first-of-type { height:30px; border-bottom:1px solid yellow; margin-bottom:10px; }
#video-list span a { display:table-cell; vertical-align:middle; }
#video-list span a.video-selected, #video-list span a:hover { color:yellow; outline:1px solid yellow; }

#video-window { background-image:url(/static/img/film.png); background-position:center; background-repeat:no-repeat; background-color:black; height:400px; margin:30px 0; }

#heritage-link-list { padding:20px; }
.heritage-link { font-size:25px; }
.heritage-link a:hover { text-decoration:underline; }


/* for kwicks add-on */
.kwicks { list-style:none; position:relative; }
.kwicks li{ width:300px; height:400px; display:block; overflow:hidden; padding:0;  /* if you need padding, do so with an inner div (or implement your own box-model hack) */ }

