{% extends "heritage-base.html" %}
{% load cms_tags sekizai_tags menu_tags %}


{% block "heritage-main-content" %}

    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}libs/jcobb-basic-jquery-slider/css/basic-jquery-slider.css" type="text/css" media="screen" />
    {% endaddtoblock %}
    
    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}libs/jcobb-basic-jquery-slider/js/basic-jquery-slider.min.js" type="text/javascript"></script>
        <script type="text/javascript">
        $(function(){
            $('#slider li').each(function(){
                if ($(this).children().length == 0) $(this).remove();
            });
            
            $('#slider').bjqs({
                'width' : 750,
                'height' : 270,
                'animationDuration': 1500,
                'animation': 'slide',
                'showMarkers' : false,
                'showControls' : false,
                'centerMarkers' : true
                });
        });
        </script>
    {% endaddtoblock %}
    
    <div id="heritage-title-index">
        {{ request.current_page.get_title }}
        {% placeholder "heritage-intro" %}
        <div id="heritage-intro">
        </div>
    </div>
    
        
    <div class="slider-wrapper theme-default">
        <div class="ribbon"></div>
        <div id="slider">
        <ul class="bjqs">
        {% for page in request.current_page.children.all %}
            <li>
            {% show_placeholder "heritage-image" page %}
            </li>
        {% endfor %}
        </ul>
        </div>
    </div>
    
    {% placeholder "heritage-text" %}

    
{% endblock %}