{% extends "heritage-base.html" %}
{% load cms_tags sekizai_tags menu_tags %}


{% block "heritage-main-content" %}

    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}libs/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
    {% endaddtoblock %}
    
    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}libs/nivo-slider/jquery.nivo.slider.pack.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(window).load(function() {
                $('#slider').nivoSlider({effect: 'fade', controlNav: false, directionNav: false, pauseTime: 5000, animSpeed: 1000});
            });
        </script>
    {% endaddtoblock %}
    
    <div id="heritage-title">
        {{ request.current_page.get_title }}
        {% placeholder "heritage-intro" %}
        <div id="heritage-intro">
        </div>
    </div>
    
        
    <div class="slider-wrapper theme-default">
        <div class="ribbon"></div>
        <div id="slider" class="nivoSlider">
        {% for page in request.current_page.children.all %}
            {% show_placeholder "heritage-image" page %}
        {% endfor %}
        </div>
    </div>
    
    {% placeholder "heritage-text" %}

    
{% endblock %}