{% extends "base.html" %}
{% load cms_tags sekizai_tags menu_tags heritage_tags %}

{% block "title" %}{{ request.current_page.get_title }}{% endblock %}

{% block "content" %}

    {% addtoblock "css" %}
        <link href="{{ STATIC_URL }}css/heritage.css" media="screen" rel="stylesheet" type="text/css" />
        <link type="text/css" href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ STATIC_URL }}libs/lightbox/css/lightbox.css" type="text/css" media="screen" />
    {% endaddtoblock %}

    {% addtoblock "js" %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/lightbox/js/lightbox.js"></script>
    <!--script src="{{ STATIC_URL }}libs/Kwicks-1.5.1/js/jquery.kwicks-1.5.1.pack.js" type="text/javascript"></script-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/heritage.js"></script>
    {% endaddtoblock %}
    

{% comment %}
    <div class="slider-wrapper theme-default">
        <div class="ribbon"></div>
        <div id="slider" class="nivoSlider">
            {% placeholder "slider" %}
        </div>
    </div>   
{% endcomment %}
    
    <div class="main-area">
    
        <div id="sidebar">
            
            {% block heritage-sidebar %}
            <ul>
                {% for page in request.current_page.get_root.children.all %}
                <li>
                    <a href="{{ page.get_absolute_url }}">
                        <span class="sidebar-title-wrapper1">
                        <div class="sidebar-title-wrapper2">
                        <div class="sidebar-title" style="background-image:url(/static/img/ycwh/heritage-titles.png); background-position:0px -{% mul forloop.counter0 40 %}px">
                        </div>
                        </div>
                        </span>
                        
                        {% comment %}
                        <div class="sidebar-title-intro">
                            <p> {% show_placeholder "heritage-intro" page %} </p>
                        </div>
                        {% endcomment %}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endblock %}
                
            <!--{% show_menu 1 1 0 100 %}-->
        </div>
        
        <div id="content-main">
        
            {% block "heritage-main-content" %}
            
            <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                <div id="heritage-title">
                    {{ request.current_page.get_title }}
                    {% placeholder "heritage-intro" %}
                    {% if request.current_page|isNationalHeritage %}
                        <img src="/static/img/logo/China_Intangible_Cultural_Heritage_Logo.png">
                    {% endif %}
                    <div id="heritage-intro">
                    </div>
                </div>
                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tabs-1">介绍</a></li>
                    {% if request.current_page|hasImages %}
                    <li class="ui-state-default ui-corner-top"><a href="#tabs-2">图片</a></li>
                    {% endif %}
                    {% if request.current_page|hasVideos %}
                    <li class="ui-state-default ui-corner-top"><a href="#tabs-3">视频</a></li>
                    {% endif %}
                </ul>
                <div id="tabs-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
                    {% placeholder "heritage-image" %}
                    {% placeholder "heritage-text" %}
                </div>
                <div id="tabs-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
                    
                    <ul id="image-area">正在加载图片...</ul>

                </div>
                <div id="tabs-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
                    <div id="video-panel">
                        <div id="video-list">
                            <span>视频列表</span>
                        {% placeholder "heritage-video" or %}{% endplaceholder %}
                        </div>
                        <div id="video-left-panel">
                            <p>请从右侧列表中选择视频</p>
                            <div id="video-window"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            {% endblock %}
                 
        </div>
            
  
    </div>
    

{% endblock %}
