{% extends "base.html" %}
{% load cms_tags sekizai_tags menu_tags %}

{% block "title" %}{{ request.current_page.get_title }}{% endblock %}

{% block "content" %}

    {% addtoblock "css" %}
        <link href="{{ STATIC_URL }}css/index.css" media="screen" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}libs/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}libs/nivo-slider/themes/default/default.css" type="text/css" media="screen" />
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}libs/nivo-slider/jquery.nivo.slider.pack.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(window).load(function() {
                $('#slider').nivoSlider({pauseTime: 10000});
            });
        </script>
        		
		<script src="{{ STATIC_URL }}libs/Kwicks-1.5.1/js/jquery.kwicks-1.5.1.pack.js" type="text/javascript"></script>
		<script type="text/javascript">
			$().ready(function() {
				$('.kwicks').kwicks({
					max : 400,
					spacing : 5
				});
			});
		</script>
    {% endaddtoblock %}
    

{% comment %}
		
    <div id="main-menu">
        <ul class="kwicks horizontal" >
            <li id="kwick_1">
                <a href="www.haiwangcat.com">
                    <div class="kwicks_inner">
                        <div id="huagu" class="menupic"></div>
                        <div class="kwicks_right">
                            <div class="menu-desc">
                            “花鼓”是山西鼓类文化中极具有代表性的一种民间艺术。它有着悠久的历史，具有广泛的群众基础，流传于山西晋南一带，故称“晋南花鼓”。临汾地区的翼城县，地处黄河流域汾浍之间，文化底蕴十分丰厚。五帝之一的尧帝始封于此。此地花鼓文化最为普及，遍及全县各个村庄，在当地流传着这样的民谣：“绕城西、北、东、南走，到处皆闻花鼓声。” 翼城“花鼓之乡”由此得名。
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li id="kwick_2">
                <a href="http://www.haiwangcat.com">
                    <div class="kwicks_inner">
                        <div id="hunshenban" class="menupic"></div>
                        <div class="kwicks_right">
                            <div class="menu-desc">
                            “花鼓”是山西鼓类文化中极具有代表性的一种民间艺术。它有着悠久的历史，具有广泛的群众基础，流传于山西晋南一带，故称“晋南花鼓”。临汾地区的翼城县，地处黄河流域汾浍之间，文化底蕴十分丰厚。五帝之一的尧帝始封于此。此地花鼓文化最为普及，遍及全县各个村庄，在当地流传着这样的民谣：“绕城西、北、东、南走，到处皆闻花鼓声。” 翼城“花鼓之乡”由此得名。
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li id="kwick_3"></li>
            <li id="kwick_4"></li>
            <li id="kwick_6">
                关于翼城
            </li>
        </ul>
    </div>




    <div class="slider-wrapper theme-default">
        <div class="ribbon"></div>
        <div id="slider" class="nivoSlider">
            {% placeholder "slider" %}
        </div>
    </div>   
{% endcomment %}
    
    <h1>建设中...</h1>
    {% placeholder "main" %}
    
    <div id="footer">
    </div>

{% endblock %}
